<footer>
   <div class="main-content">
      <div class="social">
         <p style="font-weight: bold;"> SOCIAL: </p>

         <p class="social-link"> <a href="mailto:ericgul@student.chalmers.se"> <i class="far fa-envelope"></i> EMAIL </a> </p>

         <p class="social-link"> <a href="https://github.com/ecen"> <i class="fab fa-github"></i> GITHUB </a> </p>
         </ul>
      </div>
      <div class="copyright">
         <p>© 2019 Eric Guldbrand. Photography by Hans Guldbrand and Good Free Photos.</p>
      </div>
   </div>
</footer>