@import 'variables';

/* colors */
$background-color: #eee !default;
$background-color-code: #fafafa;

$primary-color: #073d75 !default;
$secondary-color: #383;
$tertiary-color: mix($secondary-color, $background-color, 80%);

$text-dark: #222831 !default;
$text-light: #f5f5ff !default;
$text-color: $text-dark;
$text-color-menu: $text-light;

$link-dark: #1a9aff !default;

$border-color: darken($primary-color, 20%);
$highlight-color: #ffb110 !default;
$highlight-time: 0.3s;

$nav-border: 1px dashed $text-color;
$gap-size: 2ch;

$small-screen: 200px * 3 + 100px;

// MAIN
html {
   height: 100%;
}

body {
   display              : grid;
   grid-template-columns: 1fr [primary] fit-content(120ch) 1fr;
   grid-template-rows   : [nav] 60px [primary] 1fr [footer] 40px;

   // Background from Pixabay
   // https://www.pexels.com/photo/daylight-environment-forest-idyllic-459225/
   background           : url("/assets/images/new-zealand-lake-mountains-road-4-1080p.jpg"), linear-gradient(90deg, #3290cd, #133771);
   background-size      : cover;
   background-position  : top;
   background-attachment: fixed;

   font-family          : $sans-serif;
   line-height          : 1.5;
   height               : 100vh;

   position             : relative;
}

body::after {
   background               : linear-gradient(90deg, #fdf9f2, #737171, #1a3459);
   position                 : absolute;
   top                      : 0;
   left                     : 0;
   right                    : 0;
   bottom                   : 0;
   z-index                  : -1;
   content                  : "";

   opacity                  : 0;
   //animation                : fadeInAnimation ease 1s;
   animation-iteration-count: 1;
   animation-fill-mode      : forwards;
}

@keyframes fadeInAnimation {
   0% {
      opacity: 1;
   }

   20% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

.content {
   grid-row             : primary;
   grid-column          : primary;
   //justify-self: center;

   display              : grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows       : minmax(100px, auto);
   grid-gap             : $gap-size;
   grid-auto-flow       : dense;

   margin-top           : $gap-size;
   margin-bottom        : $gap-size;

   @media only screen and (max-width: $small-screen) {
      grid-template-columns: 1fr;
      grid-auto-rows       : auto;
   }
}

body p a:hover {
   //color: saturate(lighten($link-dark, 20%), 20%);
   color: $highlight-color;
}

a {
   text-decoration: none;
   color          : inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin : 0;
   padding: 0;

   span {
      font-weight: normal;
      font-size  : 0.85rem;
   }

   a:hover {
      color: $highlight-color;
   }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   color: $text-color;
}

p {
   font-size: 0.9rem;
}

hr {
   border     : 0.1px solid $text-color;
   line-height: 0.5;
}

img {
   object-fit: contain;
   width     : 100%;
   max-height: 100%;
   //max-width : 600px;
}

.win-primary {
   background: transparentize($primary-color, 0.05) !important;
   color     : $text-color-menu;
}

.window {
   background   : transparentize($background-color, 0.05);
   backdrop-filter: blur(6px);
   border       : 0 solid $primary-color;
   border-radius: 1px;
   overflow     : hidden;
   padding      : 2ch;

   img {
      max-height: 500px;
   }
}

.win-big {
   grid-column: span 3;
   grid-row   : span 3;

   @media only screen and (max-width: $small-screen) {
      grid-column: span 1;
   }
}

.win-normal {
   grid-column: span 1;
   grid-row   : span 1;
}

.win-wide-2 {
   grid-column: span 2;
   grid-row   : span 1;

   @media only screen and (max-width: $small-screen) {
      grid-column: span 1;
   }
}

.win-wide-3 {
   grid-column: span 3;
   grid-row   : span 1;

   @media only screen and (max-width: $small-screen) {
      grid-column: span 1;
   }
}

.win-vertical {
   grid-column: span 1;
   grid-row   : span 2;
}

.win-single {
   max-width: 80ch;
}

.centered {
   display        : grid;
   justify-content: center;
   align-items    : center;
   //padding: 1ch;
}

.page__hero {
   //overflow: hidden;
}

.page__hero-image {
   width: 100%;
}

p > a {
   color          : $link-dark;
   text-decoration: none;
   flex           : 1 0 auto;
}

.article {
   h2,
   h3 {
      margin-top   : 0.5em;
      margin-bottom: -0.5em;
   }
}

blockquote {
   font-style  : italic;
   border-left : 4px solid $primary-color;
   padding-left: 2ch;
   margin-left : 0;
}

.align-right {
   // For aligning images in markdown
   width        : 30%;
   min-width    : 100px;
   margin-left  : 2ch;
   margin-top   : 2ch;
   margin-bottom: 2ch;
   border       : 1px solid $border-color;
   float        : right;
}

/* code */

code,
kbd,
pre,
samp,
tt {
   font-family: $monospace;
}

pre {
   overflow-x: auto;
   /* add scrollbars to wide code blocks*/
}

.highlighter-rouge {
   width : 98%;
   margin: auto;
}

a > code,
figcaption > code,
li > code,
p > code,
td > code {
   padding-top   : 0.1rem;
   padding-bottom: 0.1rem;
   font-size     : 1em;
   background    : $background-color-code;
   border-radius : 2px;

   &:after,
   &:before {
      letter-spacing: -0.2em;
      content       : "\00a0";
      /* non-breaking space*/
   }
}

// FOOTER
footer {
   grid-column    : 1 / end;
   grid-row       : footer;

   display        : grid;

   padding        : 0 !important;
   justify-content: center;
   align-items    : center;

   color          : inherit;
}

footer .copyright {
   color: inherit;
   //display: grid;
   //justify-content: center;
   //align-items: center;
}

footer .copyright p {
   //color     : $text-color;
   color     : inherit;
   font-size : 10px;
   text-align: center;
}

footer .social {
   color  : inherit;
   float  : clear;
   display: inline-block;
}

footer .social p {
   //color        : $text-color;
   color        : inherit;
   font-size    : 0.8em;
   text-align   : left;
   float        : left;
   margin-bottom: 0;
}

footer .social-link {
   margin-left: 2ch;
   font-weight: bold;
}

footer a:hover {
   text-decoration: underline;
}

@import 'navbar';
@import 'projects';
@import 'blog';
@import 'syntax';
@import 'lunaris';