// IMAGE AUTO SLIDER

//how many images we have
$slides: 4;

// how much we want each slide to show
$time_per_slide: 4;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.slider{
  //margin:50px auto;
  width: 90%;
  height: 400px;
  overflow: hidden;
  border:10px solid;
  border-top-color:#856036;
  border-left-color:#5d4426;
  border-bottom-color:#856036;
  border-right-color:#5d4426;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  @media (min-width: 0px) {
     height: 200px;
  }
  @media (min-width: 500px) {
     height: 400px;
  }
}
.slider .photo{
  position: absolute;
  animation: round #{$total_animation_time}s infinite;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@keyframes round {
   0% {
      opacity: 0;
   }
   10% {
      opacity: 1;
   }
   30% {
      opacity: 1;
   }
   40% {
      opacity: 0;
   }
}

@for $index from 0 to $slides{
  .slider img:nth-child(#{$index+1}){
    animation-delay:#{$time_per_slide * $index}s
  }
}
