$nav-item-border-width: 6px;
$nav-item-font-size: 1.1em;

// NAV BAR
nav {
   grid-row   : nav;
   grid-column: 1/end;
   display    : flex;
   flex       : 1;
   padding    : 0 !important;
   //height: 100%;
   //background: $primary-color;
   //border-top: $nav-border;
   //border-bottom: $nav-border;

   img {
      width       : 50px;
      margin-right: 1ch;
   }
}

nav .inner-nav {
   color          : inherit;

   max-width      : 120ch;
   margin-left    : auto;
   margin-right   : auto;
   justify-content: right;
   padding-left   : 1ch;
   padding-right  : 1ch;

   @media (max-width: 450px) {
      justify-content: center;
   }
}

nav .nav-item {
   max-width      : 120px;
   min-width      : 60px;
   flex-grow      : 1;
   display        : flex;
   justify-content: center; // X centering
   align-items    : center; // Y centering

   font-size      : $nav-item-font-size;
   color          : inherit;
   text-decoration: none;

   transition     : background-color $highlight-time, color $highlight-time;

   &:hover {
      background-color: $text-color-menu;
      color           : $primary-color;
   }
}

nav .nav-item-left {
   margin-right   : auto;
   //width: 180px;
   display        : flex;
   justify-content: center; // X centering
   align-items    : center; // Y centering
   padding        : 0;

   font-size      : $nav-item-font-size;
   font-weight    : bold;
   color          : inherit;
   text-decoration: none;

   p {
      color: inherit;
   }

   @media (max-width: 350px) {
      display: none;
   }

   p {
      @media (max-width: 550px) {
         display: none;
      }
   }
}
