// PROJECTS

$project-card-margin: 1ch;

.projects-content {
   display              : grid;
   grid-template-columns: 100%;
   grid-template-rows   : 120px auto;
   grid-row-gap         : $gap-size;
}

.projects-title {
   grid-column: 1 / end;
   text-align : center;
}

.projects-board {
   display              : grid;
   grid-template-columns: repeat(3, minmax(100px, 1fr));
   //grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap             : $gap-size;

   @media only screen and (max-width: $small-screen + 400px) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows       : auto;
   }

   @media only screen and (max-width: $small-screen) {
      grid-template-columns: 1fr;
      grid-auto-rows       : auto;
   }
}

.project-card {
   max-width          : 40ch;

   box-shadow         : 0 0 0 darken($background-color, 40%);
   z-index            : 0;
   overflow           : hidden;

   backface-visibility: hidden;
   transition         : transform $highlight-time, box-shadow $highlight-time;
   background-color   : $background-color;
}

.project-card:hover {
   //box-shadow: 3px 3px 4px darken($background-color, 40%);
   //top: -10px;
   z-index   : 1;
   transform : scale(1.048) translateY(-15px) translateX(0px);
   box-shadow: 0 10px 5px darken(mix($primary-color, $background-color, 10%), 30%);
}

.project-card .thumbnail {
   max-width    : 100%;
   margin       : 0 0 -1ch;
   border-bottom: 1px solid $border-color;
}

.project-card .card-content {
   padding: 1ch 1.5ch 1.5ch;
}

.project-card h2 {
   margin : 0;
   padding: 0;
}

/*
.back-bar {
   //border-bottom: 1px solid saturate(darken($background-color, 20%), 10%);
   margin-top: 0em;
   margin-bottom: 0em;
   padding: 0;
   display: block;
}

.back-bar a {
   background-color: $background-color;
   box-shadow: 1px 1px 1px darken($background-color, 10%);
   border: 1px solid saturate(darken($background-color, 20%), 10%);
   border-radius: 2px;
   color: $text-dark;
   padding: 12px 20px 12px 10px;
   margin-left: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   position: relative;
   z-index: 1;

   backface-visibility: hidden;
   transition: transform $highlight-time, box-shadow $highlight-time, background-color $highlight-time;
}

.back-bar a::before {
   border: 1px solid saturate(darken($background-color, 20%), 10%);
   border-radius: 2px;
   border-top: 0;
   border-right: 0;

   content: "";
   display: block;
   background-color: $background-color;
   position: absolute;
   top: 0;
   left: -12px;
   width: 35px;
   height: 35px;
   z-index: -1;
   transform: rotate(45deg) translateY(8px);

   backface-visibility: hidden;
   transition: transform $highlight-time, box-shadow $highlight-time, background-color $highlight-time;
}

.back-bar a:hover::before {
   background-color: lighten($background-color, 2%);
}

.back-bar a:hover {
   z-index: 1;
   background-color: lighten($background-color, 2%);
   transform: scale(1.01) translateY(-1px) translateX(-1px);
   box-shadow: 1px 2px 3px darken(mix($primary-color, $background-color, 10%), 30%);
}*/
