---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// IMAGE AUTO SLIDER

//how many images we have
$slides: 4;

// how much we want each slide to show
$time_per_slide: 4;

// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

.slider{
  //margin:50px auto;
  width: 800px;
  height: 580px;
  overflow:hidden;
  border:10px solid;
  border-top-color:#856036;
  border-left-color:#5d4426;
  border-bottom-color:#856036;
  border-right-color:#5d4426;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.slider .photo{
  position: absolute;
  animation: round #{$total_animation_time}s infinite;
  opacity: 0;
}

@keyframes round {
   0% {
      opacity: 0;
   }
   20% {
      opacity: 1;
   }
   40% {
      opacity: 1;
   }
   60% {
      opacity: 0;
   }
}

@for $index from 0 to $slides{
  .slider img:nth-child(#{$index+1}){
    animation-delay:#{$time_per_slide * $index}s
  }
}
