/* ==========================================================================
   Ecen skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #1b5489 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #0868a0 !default;
$link-hover-color: #21adff !default; // Added by Ecen
$masthead-link-color: #f5f5ff !default;
$masthead-link-color-hover: #fff !default;
$navicon-link-color-hover: #f00 !default;
$nav-border-color-hover: #fff !default; // Added by Ecen

.masthead, .site-title, .visible-links, .greedy-nav {
  background: lighten($footer-background-color, 5%) !important;
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

html {
  @media (min-width: 48em) {
    font-size: 18px !important;
  }
}

/*body {
  @media (min-width: 48em) {
    margin-bottom: 0px !important;
  }
}*/

a {
  text-decoration: none;
}
.initial-content a:hover {
  text-decoration: none !important;
  color: $link-hover-color !important;
}

p a {
  font-weight: 450;
}